/* Open Sans */

@font-face {
    font-family: 'Open Sans Bold';
    src: url('./fonts/opensans/OpenSans-Bold.woff2') format('woff2'),
        url('./fonts/opensans/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Regular';
    src: url('./fonts/opensans/OpenSans-Regular.woff2') format('woff2'),
        url('./fonts/opensans/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('./fonts/opensans/OpenSans-Light.woff2') format('woff2'),
        url('./fonts/opensans/OpenSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans ExtraBold';
    src: url('./fonts/opensans/OpenSans-ExtraBold.woff2') format('woff2'),
        url('./fonts/opensans/OpenSans-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

/* Oswald */


@font-face {
    font-family: 'Oswald Regular';
    src: url('./fonts/oswald/Oswald-Regular.woff2') format('woff2'),
        url('./fonts/oswald/Oswald-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald Light';
    src: url('./fonts/oswald/Oswald-Light.woff2') format('woff2'),
        url('./fonts/oswald/Oswald-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald Bold';
    src: url('./fonts/oswald/Oswald-Bold.woff2') format('woff2'),
        url('./fonts/oswald/Oswald-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

